<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="cron_analyser_analyser_listing_data_source" xsi:type="string">Cron\Analyser\Model\ResourceModel\Analyser\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Cron\Analyser\Model\ResourceModel\Analyser\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">cron_schedule</argument>
            <argument name="resourceModel" xsi:type="string">Cron\Analyser\Model\ResourceModel\Analyser</argument>
        </arguments>
    </virtualType>
</config>